.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4px;
    padding: 16px 16px 24px 16px;
    background-color: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    height: 100%;
    cursor: pointer;
    
    &:hover {
        border-color: #0070f3;
    }

&.isClosed {
    background-color: #E4E9F0;
    box-shadow: none;
}
}

.sureGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.valueContainer {
   display: flex;
   justify-content: start;
   margin-top: 8px;  
   gap: 4px;

   &.isClosed {
        gap: 20%;
   }
}

.outcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    width: 40px;
    border-radius: 4px;
    font-weight: bold;
    

    &.isYes {
        background-color: #E9F6EE;
        color: #3FB06B;
    }

    &.isNo {
        background-color: #FDEDED;
        color: #E84D4D;
    }
}

.valueBox {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    font-weight: bold;

    &.isYes {
        width: 60%;
        align-items: flex-start;
        background-color: #E9F6EE;
    }

    &.isNo {
        width: 40%;
        align-items: flex-end;
        background-color: #FDEDED;
    }
}

.info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2px 10px;
    color: rgba(0, 0, 0, 0.65);
    font-weight: bold;
    line-height: 1;
    border-radius: 4px;

    .isClosed & {
        padding: 0;
    }
}

.outcomeValue {
    &.isYes {
        color: #3FB06B;
    }
    
    &.isNo {
        color: #E84D4D;
    }
}