.root {
    position: sticky;
    z-index: 1;
    top: 0;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px 6px;
    width: 100%;
    background-color: #1A84F2;
    color: #fff;
    align-items: center;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerInfo {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
}

.profile,
.tab {
    display: flex;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}

.profile {
    padding: 3px 4px;
    font-size: 12px;
    cursor: pointer;
}

.profileItem {
    margin: 0 6px;
}

.tab {
    height: 30px;
    font-size: 18px;
    font-weight: bold;

}

.tabItem {
    position: relative;
    margin: 0 20px;
    height: 100%;

    &.active {
        color: #1A84F2;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            width: 120%;
            height: 2px;
            background-color: #1A84F2;
        }
    }
}

.drawerContainer{
    position: absolute;
    right: 0;
    top: 0;
    width: 244px;
    padding: 12px 16px;
    background-color: #000;
    z-index: 100;
    border-radius: 8px 0px 0px 8px;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
    .closeDrawer{
        display: flex;
        justify-content: flex-end;
    }
    .list{
        display: flex;
        flex-direction: column;
        .listItem{
            padding: 12px 20px;
            display: flex;
            cursor: pointer;
            .listItemName{
                color: #1A84F2;
                margin-left: 16px;
            }
        }
    }
}

.languageArea{
    button{
        width: 100%;
        text-align: left;
        padding: 8px 0 8px 66px;
        color: #585353;
    }
}

@media (min-width: 768px) {
    .profileItem {
        margin: 0 14px;
    }

    .tabItem {
        margin: 0 40px;
    }
}