.root {
    position: sticky;
    z-index: 1;
    top: 0;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px 6px;
    width: 100%;
    background-color: #1A84F2;
    color: #fff;
}

.headerInfo {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
}

.profile,.tab {
    display: flex;
    justify-content: center;
    width: 100%;
}

.profile {
    padding: 3px 4px;
    font-size: 12px;
}

.profileItem {
    margin: 0 6px;
}

.tab {
    height: 30px;
    font-size: 18px;
    font-weight: bold;
}

.tabItem {
    position: relative;
    margin: 0 20px;
    height: 100%;
    
    &.active {
        color: #1A84F2;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            width: 120%;
            height: 2px;
            background-color: #1A84F2;
        }
    }
}

@media (min-width: 768px) {
    .profileItem {
        margin: 0 14px;
    }
    .tabItem {
        margin: 0 40px;
    }
}