.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 4px;
    width: 100%;
    background-color: #1A84F2;
    color: #fff;
}

.profile,
.tab {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 8px 4px;
}

.profileItem {
    margin-right: 12px;
}

.tab {
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5px);
}

.tabItem {
    margin-right: 30px;
    &.active {
        color: #1A84F2;
        &::before {
            content: '';
            width: 100%
        }
    }
}