.betArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
    padding: 16px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    text-align: center;

    .betButton {
        border-radius: 4px;
        padding: 10px;
        width: 100%;
        background-color: #1a84f2;
        color: #fff;
        text-align: center;

        &:hover {
            background-color: #4fa4ff;
        }

        &:disabled {
            background-color: #c6dcfc;
            color: #fff;
        }
    }

    .title {
        padding-bottom: 10px;
        color: #1a84f2;
        font-weight: bold;
        width: 100%;
    }
}

.volumeButton {
    padding: 6px;
    width: 100%;
    border-radius: 4px;
    box-shadow: #DBDFE6 0px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    + .volumeButton {
        margin-top: 8px;
    }

    &.isYES {
        color: #3fb06b; 
        &.selected {
            box-shadow: #339A5B 0px 4px;
        }
    }

    &.isNO {
        color: #e84d4d;
        &.selected{
            box-shadow: #CB3C3C 0px 4px;
        }
    }

    .amount{
        color:#585353;
        font-weight: bold;
        line-height:1,
    }

    .amountUnit{
        color: #A0A4A8;
        font-weight: 700;
        font-size: 8px;
    }

    &.selected {
        color:#fff;
        .amountUnit{
            color: #fff;
        }
        .amount{
            color:#fff;
        }
    }
}

.volume{
    position: absolute;
    height: 100%;
    border-radius: 4px;
    left: 0;
    top:0;
}