.betArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
    padding: 16px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #D1D5DB;
    border-radius: 8px;
    text-align: center;

    .betButton {
        border-radius: 4px;
        padding: 10px;
        width: 100%;
        background-color: #1A84F2;
        color: #fff;
        text-align: center;

        &:hover {
            background-color: #4fa4ff;
        }
    }

    .title {
        padding-bottom: 10px;
        color: #1A84F2;
        font-weight: bold;
        width: 100%;
    }
}

.volumeButton {
    padding: 6px;
    width: 100%;
    background-color: #F2F5FA;
    border-radius: 4px;

    +.volumeButton {
        margin-top: 8px;
    }

    &.isYES {
        color: #3FB06B;
    }

    &.isNO {
        color: #E84D4D;
    }

    &.selected {
        color: #fff;
    }
}