.betArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
    padding: 16px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    text-align: center;

    .betButton {
        border-radius: 4px;
        padding: 10px;
        width: 100%;
        background-color: #1a84f2;
        color: #fff;
        text-align: center;

        &:hover {
            background-color: #4fa4ff;
        }

        &:disabled {
            background-color: #c6dcfc;
            color: #fff;
        }
    }

    .title {
        padding-bottom: 10px;
        color: #1a84f2;
        font-weight: bold;
        width: 100%;
    }
}

.volumeButton {
    padding: 6px;
    width: 100%;
    background-color: #f2f5fa;
    border-radius: 4px;

    + .volumeButton {
        margin-top: 8px;
    }

    &.isYES {
        color: #3fb06b;
    }

    &.isNO {
        color: #e84d4d;
    }

    &.selected {
        color: #fff;
    }
}
