.betArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
    padding: 16px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    text-align: center;

    .betButton {
        border-radius: 4px;
        padding: 10px;
        width: 100%;
        background-color: #1a84f2;
        color: #fff;
        text-align: center;

        &:hover {
            background-color: #4fa4ff;
        }

        &:disabled {
            background-color: #c6dcfc;
            color: #fff;
        }
    }

    .title {
        padding-bottom: 10px;
        color: #1a84f2;
        font-weight: bold;
        width: 100%;
    }
}

.volumeButton {
    padding: 6px;
    width: 100%;
    border-radius: 4px;
    background: #F2F5FA;
    box-shadow: #DBDFE6 0px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;

    + .volumeButton {
        margin-top: 8px;
    }

    &.isYES {
        color: #3fb06b; 
        &.selected {
            color:#fff;
            background-color: #74D399;
            box-shadow: #339A5B 0px 4px;
        }
    }

    &.isNO {
        color: #e84d4d;
        &.selected{
            color:#fff;
            background-color: #FF7C7C;
            box-shadow: #CB3C3C 0px 4px;
        }
    }

    .amount{
        color:#585353;
        font-weight: bold;
        line-height:1
    }

    .amountUnit{
        color: #A0A4A8;
        font-weight: 700;
        font-size: 8px;
    }

    &.selected {
        .amountUnit{
            color: #fff;
        }
        .amount{
            color:#fff;
        }
    }
}

.volume{
    position: absolute;
    height: 100%;
    border-radius: 4px;
    left: 0;
    top:0;
    z-index: 0;
    &.isYES {
        background-color: #DFF7E8;
        &.selected{
            background-color: #339A5B;
        }
    }
    &.isNO {
        background-color: #FDEDED;
        &.selected{
            background-color: #E84D4D;
        }
    }
}

.betInput{
    input{
        text-align: right;
        color: #00000080;
        font-size: 24px;
        font-weight: 700;
    }
    .amountUnit{
        color: #0000004D;
        font-weight: 700;
        font-size: 8px;
    }
    :first-child{
        align-items: baseline;
    }
    ::placeholder{
        text-align: right;
        color: #00000080;
        font-size: 24px;
        font-weight: 700;
    }
}