$f-title: "Roboto", sans-serif;
$f-body: "Open Sans", sans-serif;
$polka-top: 3px;
$polka-left: 10px;

@import url("https://fonts.googleapis.com/css?family=Montserrat");

@mixin centre($axis: "both") {
    position: absolute;
    @if $axis == "y" {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    @if $axis == "x" {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    @if $axis == "both" {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-51%, -50%);
        -moz-transform: translate(-51%, -50%);
        -ms-transform: translate(-51%, -50%);
        -o-transform: translate(-51%, -50%);
        transform: translate(-51%, -50%);
    }
}
@mixin font-size($sizeValue: 1.6, $lineHeight: 2.4) {
    font-size: ($sizeValue * 10) + px;
    font-size: $sizeValue + rem;
    line-height: ($lineHeight * 10) + px;
}
@mixin animation($animate...) {
    $max: length($animate);
    $animations: "";

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation: $animations;
    -o-animation: $animations;
    animation: $animations;
}
@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@include keyframes(outerRotate1) {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@include keyframes(outerRotate2) {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@include keyframes(orbColor) {
    0% {
        fill: rgba(255, 255, 255, 1);
        opacity: 0.6;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes load {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
        border-radius: 30px;
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@keyframes bubbling {
    0% {
        margin: -$polka-top 10px 10px $polka-left;
        opacity: 1;
        margin-top: -$polka-top;
        margin-left: $polka-left;
    }
    15% {
        margin: -$polka-top 10px 10px $polka-left;
        margin-top: -$polka-top;
        margin-left: $polka-left + 30px;
    }
    20% {
        margin-top: -$polka-top - 1px;
        margin-left: $polka-left + 40px;
    }
    30% {
        margin-top: -$polka-top - 3px;
        margin-left: $polka-left + 60px;
    }
    40% {
        margin-top: -$polka-top - 5px;
        margin-left: $polka-left + 80px;
    }
    50% {
        opacity: 1;
        margin-top: -$polka-top - 6px;
        margin-left: $polka-left + 100px;
    }
    100% {
        opacity: 0;
        margin-top: -$polka-top;
        margin-left: $polka-left + 180px;
    }
}

@keyframes bgtransform {
    0% {
        background-color:  #4997ec;
    }

    90% {
        background-color:  #4997ec;
    }

    100% {
        background-color: #fff;
    }
}

.component-wrap {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
    justify-content: center;
    transform: translate(0, 150%);
}

.wrap {
    display: flex;
    position: fixed;
    margin: 0;
    padding: 0;
    font-family: $f-body;
    width: 100%;
    height: 100%;
    background:  #4997ec;
    z-index: 999;
}

.e-loadholder {
    @include centre();
    width: 220px;
    height: 220px;
    border: 5px solid rgba(255, 255, 255, 0.2);
    border-radius: 120px;
    box-sizing: border-box;

    &:after {
        @include centre;
        content: " ";
        display: block;
        background:  #4997ec;
        transform-origin: center;
        z-index: 0;
    }

    &:after {
        width: 70px;
        height: 200%;
        @include animation("outerRotate2 30s infinite linear");
    }

    .m-loader {
        @include centre();
        width: 160px;
        height: 160px;
        color:  #4997ec;
        text-align: center;
        border: 5px solid rgba(255, 255, 255, 0.5);
        border-radius: 100px;
        box-sizing: border-box;
        z-index: 20;
        text-transform: uppercase;

        &:after {
            @include centre;
            content: " ";
            display: block;
            background:  #4997ec;
            transform-origin: center;
            z-index: -1;
            animation: opacitytransform 5s forwards;
        }

        &:after {
            width: 70px;
            height: 110%;
            @include animation("outerRotate1 15s infinite linear");
        }

        .st1 {
            fill: #ffffff;
        }

        //先移除
        .e-text {
            @include font-size(1.4, 13);
            @include centre();
            display: block;
            text-align: center;
            border-radius: 70px;
            box-sizing: border-box;
            height: 110px;
            width: 110px;
            z-index: 20;

            &:before,
            &:after {
                @include centre;
                content: " ";
                display: none;
                background:  #4997ec;
                transform-origin: center;
                z-index: -1;
            }

            &:before {
                width: 110%;
                height: 40px;
                @include animation("outerRotate2 3.5s infinite linear");
            }
            &:after {
                width: 40px;
                height: 110%;
                @include animation("outerRotate1 8s infinite linear");
            }
        }
    }
}

.container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 50%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .text {
        width: 100%;
        font-family: "Montserrat", sans-serif;
        color:  #4997ec;
    }

    .blinkdot {
        display: inline;
        animation: blink 1s ease infinite;
    }

    .loadbar {
        width: 100%;
        height: 10%;
        border: 3px black;
        border-radius: 30px;
        background: rgba(255, 255, 255, 0.4);
        overflow: hidden;

        .loadfill {
            border-radius: 30px 0 0 30px;
            background:  #4997ec;
            height: 100%;
            animation-fill-mode: both;
            animation: load 5s ease infinite;
        }

        .polka {
            width: 5px;
            height: 5px;
            border: 1px solid  #4997ec;
            border-radius: 100%;
            animation-fill-mode: both;
            animation: bubbling 5s linear infinite;
        }
    }
}

.test {
    width: "50px";
    height: "50px";
    position: "relative";
    top: "50%";
    left: "50%";
    transform: "translate(-50%, -50%)";
}

#particle-canvas {
    @include centre();
    width: 100%;
    height: 100%;
}

#particle-small-canvas {
    @include centre();
    width: 50%;
    height: 50%;
}
